{{!-- Needs:
link for adding product and api route that posts it
table to display products and info
form to add product
link to remove a product --}}
<div class="section">

    <table class="table container">

        <thead>
            <th>ID</th>
            <th>Name</th>
            <th>Description</th>
            <th># In Stock</th>
            <th>Price</th>
        </thead>
        <tbody>

            {{#each items}}
            {{> admin-table }}
            {{/each}}
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="add-btn button secondary ">
                        <a href="#" class="textcolor"><strong>Add Item</strong></a>
                    </div>
                </td>
                <td>
                    <div class="edit-btn button secondary ">
                        <a href="#" class="textcolor"><strong>Edit</strong></a>
                    </div>
                </td>

            </tr>
        </tbody>
    </table>

</div>

<div class="section edit-form hidden">
    <form class="field secondary px-5 py-4">
        <label class="label textcolor" for="item-name">Item</label>
        <div class="select">
            <select name="item-name" id="item-name">
                {{#each items}}
                <option value={{id}}>{{name}}</option>
                {{/each}}
            </select>
        </div>

        <label class="label textcolor" for="edit-description">Description</label>
        <textarea name="edit-description" id="edit-description" class="textarea has-fixed-size"></textarea>

        <label class="label textcolor" for="edit-in-stock"># In Stock</label>
        <input name="edit-in-stock" id="edit-in-stock" class="input">

        <label class="label textcolor" for="edit-price">Price</label>
        <input name="edit-price" id="edit-price" class="input mb-3">

        <button id="edit" type="submit" class="button is-primary">Make Edits</button>

    </form>
</div>

<div class="section add-form hidden">
    <form class="field secondary px-5 py-4">
        <label class="label textcolor" for="add-name">Item Name</label>
        <input name="add-name" id="add-name" class="input">

        <label class="label textcolor" for="add-description">Description</label>
        <textarea name="add-description" id="add-description" class="textarea has-fixed-size"></textarea>

        <label class="label textcolor" for="add-in-stock"># In Stock</label>
        <input name="add-in-stock" id="add-in-stock" class="input">

        <label class="label textcolor" for="add-price">Price</label>
        <input name="add-price" id="add-price" class="input mb-3">

        <button id="add" type="submit" class="button is-primary">Add Item</button>

    </form>
</div>

<script src="/Javascript/admin.js"></script>