<div class="section">
    
<table class="table container">
    
<thead>
    
    <th>Name</th>
    <th>Price</th>
    <th>Amount</th>
</thead>
<tbody>
{{#if orderItem}}
{{#each orderItem}}
{{> order-table }}
{{/each}}
{{else}}
<tr><td>Cart is Empty</td></tr>
{{/if}}
<tr>
    <td></td>
    <td></td>
    <td>
        <button class="button secondary" type="submit" id="placeOrder"><strong>Place Order</strong></button>
    </td>
    
</tr>
</tbody>
</table>

</div>
<script src="/Javascript/orderSubmit.js"></script>