
<section class="hero is-medium" >
  <div class="hero-body clothes-background">
  </div>
</section>

<section class="columns is-multiline m-2" id="#item-section">

{{#each items}}
{{> item-card}}
{{/each}}

</section>
<script src="/Javascript/orderHandler.js"></script>