
<section class="hero is-medium" >
  <div class="hero-body clothes-background">
  </div>
</section>

<section class="columns is-multiline m-2" id="#item-section">

{{#unless items.length}}
<div>No matches</div>
{{else}}
{{#each items}}
{{> item-card}}
{{/each}}
{{/unless}}

</section>