<form class='signup-form'>
  <h2>
    Create an account:
  </h2>
  <div>
    <label for='username-signup'>Email::</label>
    <input type='text' id='username-signup' />
  </div>
  <div>
    <label for='password-signup'>password:</label>
    <input type='password' id='password-signup' />
  </div>
  <div>
    <button type='submit'>signup</button>
  </div>
</form>

<div id="login-div">
  <a href="/user/login">Login instead</a>
</div>


<script src='/Javascript/signup.js'></script>