:root {
  --primary: #0097a7;
  --secondary: #93c470;
}

/* Utils */
.bgcolor {
  background-color: var(--primary);
}
.secondary {
  background-color: var(--secondary);
}
.textcolor {
	color: #eeeeee;
}

.hidden {
  display: none;
}

.image {
  display: inline-block;
}
/* end Utils */

/* Card */
.card {
	height: 350px;
}
.card-header {
	height: 20%;
	overflow: hidden;
  font-size: 24px;
}
.card-content {
  height: 60%;
  overflow: hidden;
}
.card-footer {
  height: 20%;
  overflow: hidden;
}
/* end Card */

.clothes-background {
  background-image: url(/assets/blue-clothes.jpg); 
  background-position: 0 55%;
  background-size: cover;
  background-repeat: no-repeat;
}

.button, .button:hover {
  border-color: transparent;
}

.sm-container {
	max-width: none !important;
	padding-left: 20%;
	padding-right: 20%;
	width: 100%;
}
